body {
    font-family: 'Segoe UI';
    margin: 0;
}
.flex-container {
    flex-wrap: wrap;
}
.center { /* classe usada para centralizar elementos verticalmente */
    position: relative;
    display: inline-block;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
header {
    height: 50px;
    background-color: #2571b7;
    position: fixed;
    z-index: 99;
    width: 100%;
}
header img {
    visibility: hidden;
}
.header-link {
    display: none;
}
.header-logo {
    background-image: url("../assets/burger-menu.png");
    background-size: calc(20px + 4vw) auto;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
    padding: 10px;
    margin-left: -40px;
}


/* botoes diversos */
#button {
    background-color: #002050;
    border: none;
    color: white;
    padding: 5px 20px;
    text-decoration: none !important;
    display: inline-block;
    font-size: calc(8px + 2vw);
    font-weight: 600;
    margin: 0;
}
#button2 {
    background-color: #00a4ef;
    border: none;
    color: white;
    text-decoration: none !important;
    display: inline-block;
    font-weight: 600;
    margin: 0;
    font-size: calc(10px + 3vw);
    padding: 4% 10%;
}
#button3 {
    padding: 5px 5px;
    text-decoration: none;
    margin: 0;
    display: inline-block;
    font-size: calc(6px + 2vw);
    font-weight: 600;
}
#button4 {
    width: 100%;
    color: white;
    background-color: #00a4ef;
    text-decoration: none !important;
    font-size: 26px;
    font-weight: 600;
    margin: 4% 0 3% 0;
    display: inline-block;
    text-align: center;
    font-size: calc(15px + 2vw);
    padding: 3.5% 0;
}
#button:hover, #button2:hover, #button4:hover {
    background-color: #1d498b !important;
}
.green {
    border: 1px solid #7FBA00;
    color: #7FBA00;
}
.green:hover {
    background-color: #7FBA00;
    color: white;
}
.blue {
    border: 1px solid #00a4ef;
    color: #00a4ef;
}
.blue:hover {
    background-color: #00a4ef;
    color: white;
}
.orange {
    border: 1px solid #ffb900;
    color: #ffb900;
}
.orange:hover {
    background-color: #ffb900;
    color: white;
}
.header-button {
    color: white;
    font-size: 15px;
    margin: 0 5%;
    position: relative;
    float: right;
}


/* introdução */
#intro::before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    background-image: url('../assets/img1.png');
    background-repeat: no-repeat;
    width: 100%;
    filter: brightness(70%);
    background-size: auto;
    background-position: center;
    height: 820px;
}
#intro {
    position: relative;
    color: white;
    z-index: 0;
    width: 100%;
    text-align: center;
    height: 820px;
}
#intro-header {
    font-size: calc(16px + 8vw);
    font-weight: 600;
    display: block;
}
#intro-header-subtitle {
    font-size: calc(10px + 4vw);
    display: block;
}
#intro .center {
    left: 0 !important;
    margin: 0 8%;
    width: auto !important;
}
#dropdown {
    margin: 0 10%;
    display: flex;
    position: absolute;
    bottom: 4%;
    width: 80%;
    justify-content: center;
}
#intro-arrow {
    display: none;
}


/* conteúdo */
.content {
    font-size: calc(12px + 0.4vw);
    font-weight: normal;
    text-align: center;
    color: rgb(133, 133, 133);
    margin: 5% 5%;
}


/* blocos coloridos */
.block {
    padding: 20px 20px;
    width: auto;
    margin: 0 0 5% 0;
    display: flex;
    justify-content: space-around;
}
.block-text {
    width: 78%;
    height: auto;
    text-align: left;
    color: white;
    padding: 0;
    position: relative;
    float: right;
}
.block-img {
    background-image: url("../assets/target.png");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 65px;
    min-height: 65px;
}
.block-text, .container, .table-cell {
    font-size: calc(12px + 0.15vw);
}
.block:nth-of-type(1) {
    background-color: #0072c6;
}
.block:nth-of-type(2) {
    background-color: #2c5898;
}


/* support, shield, notebook */
.container {
    color: #737373;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: auto;
    text-align: left;
    border-bottom: 3px solid #dedede;
    padding: 0;
}
.container:nth-child(3) {
    border-bottom: 0;
}
.icons {
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    padding: 12px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    position: relative;
    float: right;
}
.support {
    background-color: #7fba00;
    background-image: url('../assets/maos.png');
    background-size: 80%;
}
.shield {
    background-color: #00a4ef;
    background-image: url('../assets/shield.png');
    background-size: 70%;
}
.notebook {
    background-color: #ffb900;
    background-image: url('../assets/notebook.png');
    background-size: 75%;
}
.first-child h2 {
    color: #7fba00;
}
.second-child h2 {
    color: #00a4ef;
}
.third-child h2 {
    color: #ffb900;
}
.separator {
    display: none;
}


/* tabela */
.table-cell h2 {
    color: #F25022;
    padding: 10px;
}
.table-cell {
    border: 3px solid #dedede;
    border-bottom: 0;
    padding: 20px 24px 30px 24px;
    margin: 0;
}
.table-cell:nth-child(4) {
    border-bottom: 3px solid #dedede;
}


/* banner */
.banner::before { /* mesma lógica da seção intro */
    content: "";
    position: absolute;
    display: block;
    background-image: url("../assets/banner.png");
    filter: brightness(40%);
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: -1;
}
.banner {
    position: relative;
    height: 280px;
    z-index: 0;
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-size: calc(10px + 5vw);
}
.banner::before, .banner {
    height: calc(200px + 30vw);
}


/* form  */
form {
    background-color: #e6e6e6;
    width: 40%;
    padding: 2% 5%;
    text-align: left;
    margin: 0 auto;
    width: 90%;
}
input {
    display: block;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    width: auto;
    margin: 5px 0 5% 0;
    padding: 0 0 0 5%;
    height: 40px;
}
label {
    font-size: calc(8px + 1vw);
    text-align: left;
    margin-top: 8px;
}
input:focus {
    outline: 2px solid #6b9ecb;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
}
.input-wrapper label {
    order: 1; /* ordem necessária p/ usar o selector + sem prejudicar o layout */
}
.input-wrapper input {
    order: 2;
}
.input-wrapper input:focus + label {
    color: #6b9ecb;
}


/*  headers */
h1 {
    font-size: calc(12px + 2vw);
    color: #2772b7;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}
h2 {
    font-size: calc(14px + 0.5vw);
    font-weight: 600;
    padding: 0;
    margin: 0;
}




/* layout desktop */

@media only screen and (min-width: 893px) {
    .flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    
    /* seção da barra de navegação superior */
    .header-link {
        color: white;
        font-size: 15px;
        margin: 0 3.5%;
        position: relative;
        float: right;
    }
    .header-link a:hover {
        text-decoration: underline;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .header-logo {
        height: auto !important;
        width: auto;
        filter: none;
        background: none;
        margin-left: 6%;
    }
    header img {
        visibility: visible;
    }
    .header-link {
        display: inline-block;
    }
    


    /* botões usados no layout */
    #button {
        font-size: 16px;
    }
    #button2 {
        padding: 14px 45px;
        font-size: 25px;
    }
    #button3 {
        padding: 8px;
        font-size: 14px;
        font-weight: 700;
    }
    .green {
        border: 2px solid #7FBA00;
    }
    .blue {
        border: 2px solid #00a4ef;
    }
    .orange {
        border: 2px solid #ffb900;
    }
    #button4 {
        padding: 12px 0 12px 0;
        font-size: 26px;
    }


    /* seção da introdução */
    #intro::before { /* necessário para que o filtro do background não incida sobre os demais elementos da div */
        background-size: 100%;
        height: 720px;
    }
    #intro {
        height: 720px;
        text-align: left;
    }
    #intro-main {
        left: 8%;
        width: 92%;
    }
    #intro-header {
        font-size: 72px;
    }
    #intro-header-subtitle {
        font-size: 30px;
    }
    #dropdown {
        justify-content: space-between;
    }
    #intro-arrow {
        display: flex;
        filter: invert(100%);
    }
    #intro-arrow:hover { /* crédito: https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(16%) sepia(96%) saturate(1956%) hue-rotate(206deg) brightness(91%) contrast(80%);
    }


    /* seção dos blocos coloridos */
    .block {
        width: 40%;
        margin: -1.5% 0;
    }

    /* seção dos ícones de support, shield e notebook */
    .container {
        width: 285px;
        text-align: center;
    }
    .separator { /* esta classe é ocultada na versão mobile */
        border-bottom: 4px solid #dedede;
        width: 45px;
        height: 15px;
        margin: 0 auto 0 auto;
        display: block;
    }
    .container {
        flex-direction: column;
        border-bottom: 0;
    }
    .icons {
        border-radius: 100px;
        margin-bottom: 20px;
        padding: 20px;
        height: 160px;
        width: 160px;
    }


    /* seção da tabela */
    .table-cell {
        border: 3px solid #dedede;
        border-right: 0;
    }
    .table-cell:nth-child(4) {
        border-right: 3px solid #dedede;
    }


    /* seção do banner */
    .banner::before { /* mesma lógica da seção intro */
        background-size: 100%;
        width: 100%;
        height: 280px;
    }
    .banner {
        height: 280px;
        font-size: 40px;
    }


    /* seção do form */
    form {
        width: 40%;
    }
    input {
        margin: 5px 0 10px 0;
    }
    label {
        font-size: 14px;
        text-align: left;
    }
    

    /* seção do rodapé */
    #logo-container {
        display: inline-block;
        margin: 20px;
    }
}